<%- include("partials/head.ejs") %>

    <%- include("partials/header.ejs") %>


    <main>
        <h1><%= about %></h1>
        
        <section id="contenedor-productos">
            <% products.forEach((p) => { %>
            <div class="card-producto">
                <img src= <%= p.img_url %> alt="" >
                <h3><%= p.nombre %></h3>
                <p><%= p.id %></p>
                <p>$ <%= p.precio %></p>
            </div>
            <% }) %>

        </section>
    </main>


    
    <!-- <script src="js/index.js">
    </script> -->
</body>
</html>