<%- include("partials/head.ejs") %>

    <%- include("partials/header.ejs") %>


    <main>
        <h1><%= about %></h1>
        
        <section id="contenedor-productos">
            <% const URL_BASE ="http://localhost:3000/" %>
            <% products.forEach((p) => { %>
            <div class="card-producto">
                <img src= <%= URL_BASE + p.img_url %> alt="" >
                <h3><%= p.nombre %></h3>
                <p><%= p.id %></p>
                <p><%= p.tipo %></p>
                <p>$ <%= p.precio %></p>
                <div class="container-datos-activo">
                    <p id="estado-<%= p.id %>">
                        <%= p.activo == 1 ? "ACTIVO" : "INACTIVO" %>
                    </p>
                    <button id="boton-<%= p.id %>" onclick="alternarActivo(<%= p.id %>)">
                        <%= p.activo == 1 ? "Desactivar" : "Activar" %>
                    </button>
                </div>
            </div>
            <% }) %>

        </section>
    </main>


    
    <script>
        async function alternarActivo(id) {
            // Enviar al backend el cambio
            const response = await fetch(`http://localhost:3000/api/productos/${id}/toggleStatus`, {
                method: "PUT"
            });
            const data = await response.json();
            if (!response.ok) {
                console.error("Error:", data);
                return;
            }
            // Actualizar DOM
            const nuevoActivo = data.activo; // valor REAL según BD (0 o 1)
            document.getElementById(`estado-${id}`).textContent =
                nuevoActivo == 1 ? "ACTIVO" : "INACTIVO";
            document.getElementById(`boton-${id}`).textContent =
                nuevoActivo == 1 ? "Desactivar" : "Activar";
        }
    </script>

  
</body>
</html>