<%- include("partials/head.ejs") %>

    <%- include("partials/header.ejs") %>


    <main>
        <h1><%= about %></h1>
        
        <section id="contenedor-productos">
            <% const URL_BASE ="http://localhost:3000/" %>
            <% products.forEach((p) => { %>
            <div class="card-producto">
                <img src= <%= URL_BASE + p.img_url %> alt="" >
                <h3><%= p.nombre %></h3>
                <p><%= p.id %></p>
                <p><%= p.tipo %></p>
                <p>$ <%= p.precio %></p>
                <div class="container-datos-activo">
                    <p class="texto-estado" id="estado-<%= p.id %>"> <%= p.activo ? "ACTIVO" : "INACTIVO" %></p>
                    <button onclick='alternarActivoProducto(<%= JSON.stringify(p) %>)' id="boton-<%= p.id %>">
                        <%= p.activo ? "Desactivar" : " Activar" %>
                    </button>
                </div>
            </div>
            <% }) %>

        </section>
    </main>


    
    <script src="js/index.js">
    </script>

  
</body>
</html>